.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    
}
.container h1{
    font-size: 5rem;
    font-weight: 800;

}

.btn {
        padding: 10px;
        color: black;
        border-radius: 10px;
        cursor: pointer;
        border: none;
    
    
}